<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pitch Perfect Tuner Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D6A7FA72C76994300154FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6A7FAD2C76994300154FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6A7FBF2C76994400154FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6A7FC92C76994400154FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
